<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="./css/stylesheet.css" rel="stylesheet">
    <title>Mercado Liebre - LOGIN</title>
</head>
<body>
    <header>
        <div class="top-header">
            <figure class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" ></a>
            </figure>
            <form class='form' action="#" method="GET">
                <input type="text" id="search" class="form-control" placeholder="Buscar productos, marcas y más">
                <button type="submit" class="submit"><i class="fa fa-search"></i> </button>
            </form>
            <p class="centered"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="navbar">
            <ul class="navbar-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar-right">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <p><i class="fas fa-bars"></i></p>
        </div>
    </header>
    <main>
        <h2 class="login-title">Formulario de Login</h2>
        <form class="login-form" action="/" method="GET">
            <div class="form-div">
                <input type="text" name="nombreUsuario" required placeholder="Nombre de usuario/a">
            </div>
            <div class="form-div">
                <input type="password" name="password" required placeholder="Contraseña">
            </div>   
            <div class="form-button">
                <button type="submit" class="submit-button">Enviar</button>
            </div>       
        </form>
    </main>
    <footer>
        <section class="main-footer">
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>
        <section class="copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>  
    </footer>
</body>
</html>